################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyWork/MyWork/obj
/MyWork/.vs/MyWork/v16
